<%= form_with scope: :phone, url: :phones do |f| %>
 
  <div class="pfield">
    <%= f.label :Phone_Name %><br>
    <%= f.text_field :p_name %>
  </div>
  <div class="pfield">
    <%= f.label :Description %><br>
    <%= f.text_area :p_desc %>
  </div>
  <div class="pfield">
    <%= f.label :Phone_Image %><br>
    <%= f.file_field :p_pic %>
  </div>
  <div class="pfield">
    <%= f.label :Phone_Prize %><br>
    <%= f.text_field :p_prize%>
  </div>
  <div class="p_actions">
    <%= f.submit :Add_Phone%>
  </div>
<% end %>