<h1 class=head>E-Kart</h1>
<div class="dropdown">
  <button class="dropbtn">Category</button>
  <div class="dropdown-content">
  	<%= link_to "Shoes", shoes_path %>
  	<%= link_to "Phones", phones_path %>
  </div>
</div>
<br>
<div>
	<%= button_to "logout", destroy_admin_session_path, method: :delete  %>
</div>
