<h1 class=head>Shoe</h1>
<%= link_to 'ADD', new_shoe_path%>
<table>
  <tr>
    <th>Shoe Image</th>
    <th>Shoe Name</th>
    <th>Shoe Description</th>
    <th>Shoe Prize</th>
  </tr>
  <% @shoes.each do |shoe| %>
  <tr>
      <td><%= image_tag(shoe.s_pic.url,size: "95x95") %></td>
      <td><%= shoe.s_name %></td>
      <td><%= shoe.s_desc %></td>
      <td><%= shoe.s_prize %></td>
      <td><%= link_to 'Show', shoe %></td>
  </tr>
  <% end %>
  <tr>
  	<%= link_to 'Back', root_path%>

</table>