<%= form_with scope: :shoe, url: :shoes do |f| %>
 
  <div class="sfield">
    <%= f.label :Shoe_Name %><br>
    <%= f.text_field :s_name %>
  </div>
  <div class="sfield">
    <%= f.label :Description %><br>
    <%= f.text_area :s_desc %>
  </div>
  <div class="sfield">
    <%= f.label :Shoe_Image %><br>
    <%= f.file_field :s_pic %>
  </div>
  <div class="sfield">
    <%= f.label :Shoe_Prize %><br>
    <%= f.text_field :s_prize%>
  </div>
  <div class="s_actions">
    <%= f.submit :Add_Shoe%>
  </div>
<% end %>