<tr>
	<td><%= image_tag(@shoe.s_pic.url,size: "150x150") %></td>
	<td>
		<tr>
			<td><%= @shoe.s_name %></td>
		</tr>
		<br><br>
		<tr>
			<td><%= @shoe.s_desc %></td>
		</tr> 
	</td>
	<td>
 		 <%= @shoe.s_prize %>
	</td>
	<div class=box><%= link_to 'Show All', shoes_path %></div>
</tr>


